body :nth-child(odd) {
  background-color: palevioletred;
  font-family: "Dejavu Sans";
}

#num2 {
  color: blue;
  font-size: 36px;
}

#num4 {
  background-color: lightgreen;
  font-weight: bold;
}

.masGrande {
  font-size: 24px;
}
